header, footer, section, nav, article {  
    display: block;  
}

/* TODO: Add property:value pairs to set the width
of the page, the font type, and the font size */
body {
  font-family: fantasy;
  font-size:2em;
	margin: 5px auto;  
  width: 940px;
}

/* TODO: Add property:value pairs to set the color
of the h1 element and make its text centered. Look at the index.html to see what the h1 element creates on the page*/
h1 {
  color:rgb(0, 26, 255);
  text-align: center;
  border:4mm ridge rgba(60, 60, 60,.9);
  background:orange;
}

/* TODO: Add property:value pairs to set the color
of the h3 element and make its text centered. Look at the index.html to see what the h3 element creates on the page*/
h3 {  
  text-align:center;
  font:italic small-caps bold 16px/2 cursive;
  background:blue;
}

/* TODO: Add property:value pairs to set the width and height of the header element. Give it a background color. add a border, and center its text. Look at the index.html to see what the header element creates on the page*/
header {
  border: 5px solid red;
  background:purple;
  text-align:center;
  width:700px;
  height:80px
  margin: 40px;
}

/* TODO: Add property:value pairs to set the width and height of the footer element. Give it a background color. add a border, and center its text.
Look at the index.html to see what the footer element creates on the page*/
footer {
  border:5px solid yellow;
  text-align:center;
  background:black;
  color:green;
	margin: 40px;
}

/* TODO: Add property:value pairs to set the width and height of the section element. Give it a background color. You may need to set it's top margin to create some space between the beginning of the main section and the end of the navigation bar. Look at the index.html to see what the section element creates on the page*/
section {
  text-align:center;
  margin:5px;
  background:lightblue;
  margin-top:100px;
  margin-bottom:100px;


}


/* This code styles your navigation bar. It works as is but feel free to change anything you'd like. Multiple tag selectors mean tags within tags.   */
nav {
	width: 940px;
	height: 50px;
	float: left;
	font-family: Geneva,Arial;
	border: 1px solid #000000;
	background-color: #D0DBF0;
}

nav ul {
	margin: 0px auto;
	padding: 15px;
	list-style-type: none;
}
nav li {
	display: inline;

}

nav li a {
	float: left;
	text-align: center;
	border-right: 2px solid #00DBF0;
  width: 100px;  
  font-size: 14px; 
	padding: 0px 10px;
	color: #0000FF;
	text-decoration: none;
}

nav li a:hover {
	color: #00DBF0;
}



